<div class="media list-item" item-id={{id}}>
  <img class="d-flex mr-3" src="{{img}}">
  <div class="media-body">
    <small class="mt-0">Item id: {{id}}</small>
    <p>{{description}}</p>
    <button type="button" class="btn btn-primary edit-item btn-sm" item-id={{id}}>Edit</button>
    <button type="button" class="btn btn-danger remove-item btn-sm" item-id={{id}}>Delete</button>
  </div>
</div>